# @todo I want to get rid of this and ALL traces of CSV sample files from the repo
*.csv filter=lfs diff=lfs merge=lfs -text

# Path-based git attributes
# https://www.kernel.org/pub/software/scm/git/docs/gitattributes.html

# Ignore all test and documentation with "export-ignore".
/tests              export-ignore
/docs               export-ignore
/travis             export-ignore
/phpunit.xml.dist   export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/.coveralls.yml   export-ignore
/.scrutinizer.yml   export-ignore
/.travis.yml        export-ignore

# Consistent line endings
* text=auto
