<phpunit bootstrap="tests/bootstrap.php">
    <testsuites>
      <testsuite name="build">
        <file>tests/CSVelte/CSVelteTest.php</file>
        <file>tests/CSVelte/FlavorTest.php</file>
        <file>tests/CSVelte/TasterTest.php</file>
        <file>tests/CSVelte/ReaderTest.php</file>
        <file>tests/CSVelte/WriterTest.php</file>
        <file>tests/CSVelte/TableTest.php</file> <!-- @todo for now, this one will include only very rudimentary table functionality -->
        <file>tests/CSVelte/InputOutputTest.php</file> <!-- @todo add this immediately to replace the other IO test files -->
        <file>tests/CSVelte/DocsExamplesTest.php</file>
      </testsuite>
      <!-- <testsuite name="table">
        <file>tests/CSVelte/TableTest.php</file>
        <file>tests/CSVelte/TableSchemaTest.php</file>
        <file>tests/CSVelte/TableRowTest.php</file>
        <file>tests/CSVelte/TableColumnTest.php</file>
        <file>tests/CSVelte/TableColumnSchemaTest.php</file>
        <file>tests/CSVelte/TableDataTypeTest.php</file>
        <file>tests/CSVelte/TableCellTest.php</file>
      </testsuite> -->
    </testsuites>
</phpunit>
